 #BackGrund {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   /* 设置为垂直排列 */
   justify-content: center;
   align-items: center;
   /* 水平居中 */
   z-index: -1;
   pointer-events: auto;
 }

 #backgroundCanvas {
   position: fixed;
   top: 0;
   left: 0;
 }

 #Emoji {
   z-index: 1;
   background-color: rgba(0, 0, 0, 0);
   width: 100vw;
   height: 100vh;
   pointer-events: auto;
 }
