 #BackGrund {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   /* 设置为垂直排列 */
   justify-content: center;
   align-items: center;
   /* 水平居中 */
   z-index: -1;
   pointer-events: auto;
   background-color: #F5F5F5;
 }

 #backgroundCanvas {
   position: fixed;
   top: 50%;
   left: 50%;
   z-index: -1;
   transform: translate(-50%, -50%);
 }

 #Emoji {
   z-index: 1;
   background-color: rgba(0, 0, 0, 0);
   width: 100vw;
   height: 100vh;
   pointer-events: auto;
 }

 #hero::before {
   content: "";
   backdrop-filter: blur(10vh);
   -webkit-backdrop-filter: blur(10vh);
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 0;
 }
