#Blog_Resource {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* 设置为垂直排列 */
  justify-content: center;
  /* 水平居中 */
  z-index: 1;
  transform: translateY(100vh);
  pointer-events: auto;
}
