@import url('https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css');
@import url('Cursor.css');
@import url('index.css');
@import url('BackGrund.css');
@import url('Home.css');
@import url('Blog.css');
@import url('Github.css');
@import url('Thanks.css');

html {
  cursor: none;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0;
  /*background-color: #FFFFFF;*/
  background: black;
  font-size: 2.5vh;
}

a {
  cursor: none;
  text-decoration: none;
  /* 去掉下划线 */
  color: inherit;
  /* 继承父元素的颜色 */
}

img {
  pointer-events: none;
}

button {
  user-select: none;
  /* 禁止文字选择 */
  cursor: none;
  border: none;
  /* 无边框 */
  text-decoration: none;
  /* 去掉下划线 */
}

/*--------------------------------*/
/* 顶部导航样式 */
#Nav_Main {
  position: fixed;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* 设置为垂直排列 */
  /*align-items: center;*/
  align-items: flex-start;
  /* 子元素左对齐 */
  /*justify-content: center;*/
  /* 水平居中 */
  z-index: 1;
  pointer-events: none;
  /* 不影响其他元素的交互 */
}

/* 导航按钮 */
#Nav_Button {
  border-radius: 1.5vh;
  height: 5vh;
  width: 5vh;
  display: flex;
  transform: translateY(-10vh);
  /* 添加水平居中效果 */
  /*align-items: center;*/
  justify-content: center;
  pointer-events: auto;
  background-color: black;
  margin-left: auto;
  margin-right: 2vh;
  margin-top: 2vh;
  /* 将该元素推到右侧 */
}

.Nav_Options {
  color: #FFFFFF;
  /*margin: 0 1vw;*/
  margin-left: 1vh;
  height: 3vh;
  font-size: 2vh;
}

#Nav_Main_Options {
  height: 100%;
  width: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  pointer-events: none;
  opacity: 0;
}

#Nav_Line {
  border-radius: 1.5vh;
  height: 5vh;
  width: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#Nav_Line_1,
#Nav_Line_2 {
  height: 0.3vh;
  width: 2.5vh;
  border-radius: 1vh;
  margin: 0.475vh;
  background-color: #FFFFFF;
}


/*--------------------------------*/
/*其他元素*/
#Anime,
#Main {
  position: fixed;
  /* 固定定位 */
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  /*background-color: black;*/
  display: flex;
  flex-direction: column;
  /* 设置主轴为垂直方向 */
  align-items: center;
  /* 垂直居中对齐 */
  justify-content: center;
  /* 水平居中对齐 */
}

#Anime {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 1;
}


/*--------------------------------*/
/*文字元素*/
.Text_Line_Black {
  background: linear-gradient(to right, black, black) no-repeat right bottom;
}

.Text_Line_White {
  background: linear-gradient(to right, #FFFFFF, #FFFFFF) no-repeat right bottom;
}


.Text_Line_Black,
.Text_Line_White {
  background-size: 0 0.25vh;
  transition: background-size 0.5s;
  text-decoration: none;
}

.Text_Line_Black:hover,
.Text_Line_White:hover {
  background-position: left bottom;
  background-size: 100% 0.25vh;
}

.Page,
.Page_Level {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  pointer-events: auto;
}

.Page_Level {
  flex-direction: row;
  /* 水平排列 */
}
