/* 通用样式 */
body,
main,
nav {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
}

body {
  overflow: hidden;
  /* 隐藏整个页面的滚动条 */
  cursor: none;
  /* 隐藏鼠标光标 */
  background-color: #F5F5F5;
  flex-direction: column;
}

button {
  user-select: none;
  /* 禁止文字选择 */
  cursor: none;
  border: none;
  /* 无边框 */
  text-decoration: none;
  /* 去掉下划线 */
}

/* 页面主要资源样式 */
#Main_Resource {
  flex-direction: column;
  /* 设置为垂直排列 */
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

#Page {
  width: 95%;
  height: 95%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}

/* 动画路径样式 */
.anime_path {
  fill: none;
  stroke: #F5F5F5;
}

/* 顶部导航样式 */
#Nav_Main {
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* 设置为垂直排列 */
  align-items: center;
  justify-content: center;
  /* 水平居中 */
  z-index: 9999;
  pointer-events: none;
  /* 不影响其他元素的交互 */
}

#Nav_Button {
  border-radius: 2vw;
  height: 2.5vw;
  width: 2.5vw;
  display: flex;
  /* 添加水平居中效果 */
  align-items: center;
  justify-content: center;
  background-color: #100C08;
  pointer-events: auto;
  /* 确保接收鼠标事件 */
  transform: translateY(-100vh);
  /* 向上移动按钮 */
}

.Nav_Options {
  color: #F5F5F5;
  margin: 0 1vw;
  /* 简化 margin 设置 */
  height: 2vw;
  font-size: 2vh;
  background: linear-gradient(to right, #F5F5F5, #F5F5F5) no-repeat right bottom;
  background-size: 0 0.25vh;
  transition: background-size 0.5s;
  /* 动画效果 */
}

.Nav_Options:hover {
  background-position: left bottom;
  background-size: 100% 0.25vh;
}

/* 主要标题和鼠标样式 */
#Main_Title,
#Img_Back,
#Door,
#Mouse {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  /* 不影响其他元素的交互 */
  z-index: 9999;
}

#Img_Back,
#Door,
#Main_Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  /* 确保在背景层 */
}

#Door {
  z-index: -2;
}

#Img_Back {
  width: 50vw;
  z-index: -3;
  pointer-events: auto;
}

#Door_Up,
#Door_Down {
  height: 50%;
  width: 100%;
  background-color: #100C08;
}


#XiaoCRQ {
  width: 45vw;
  transition: width 0.25s;
}
